.mainHead {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
  top: 0;
}
.headCenter1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  width: 90%;
}
.headCenter1 .headLeft {
  display: flex;
  align-items: center;
  width: 100%;
}
.headCenter1 .search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.headCenter1 .searchBtn {
  width: 370px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 30px;
}
.headCenter1 .searchBtn .btn {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border: none;
}
.headCenter1 .headRight {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.headCenter1 .headRight .yours {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 22px;
  cursor: pointer;
  transition: color 250ms ease;
  background-color: white;
  height: 42px;
  border: none;
}
.headCenter1 .headRight .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  cursor: pointer;
}
.headCenter1 .headRight .userBtn {
  width: 77px;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
  border-radius: 21px;
  border: 1px solid #dddddd;
  background-color: white;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #dddddd;
}

.mainPage .mainHead .headCenter2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  width: 90%;
}
.mainPage .mainHead .headCenter2 .menuBar {
  display: flex;
  width: 93%;
  justify-content: space-between;
  align-items: center;
}
.mainPage .mainHead .headCenter2 .menus {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.mainPage .mainHead .headCenter2 .menus .menuItem {
  height: 55px;
  quotes: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainPage .mainHead .headCenter2 .menus .menuItem h6 {
  width: 100%;
  height: 18px;
  padding-top: 10px;
  margin: 0;
}
.mainPage .mainHead .headCenter2 .menus img {
  height: 24px;
  width: 24px;
}
.mainPage .mainHead .headCenter2 .arrowBtn {
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.mainPage .mainHead .headCenter2 .filterBtn {
  width: 80px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}
.mainPage .main {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.main .content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main .content .photoItem {
  flex-basis: calc(50% / 6);
  box-sizing: border-box;
  padding: 5px;
}
.main .content .photoItem .placeBtn {
  padding: 0px;
  background-color: white;
  border: none;
}
.main .content .photoItem img {
  width: 270px;
  height: 256px;
  border-radius: 10px;
}

.detailPage {
  display: flex;
  flex-direction: column;
}
.detailPage .main {
  margin-top: 78px;
  display: flex;
  justify-content: center;
}
.detailPage .main .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailPage .main .content img {
  width: 1440px;
  height: 800px;
  object-fit: over;
}
